
body{
    background-color: #D2B48C;
}
nav{
    background-color: #BBBBBB;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    display: block;
}
li{
    display: inline;
}
ul li a{
    padding-left: 115px;
    padding-right: 115px;
    color: black;
    font-size: 20px;
}
#login2{
    left: 1190px;
    bottom: 85px;
}
#favoritos2{
    left: 77rem;
    bottom: 85px;
}
#car2{
    left: 79rem;
    bottom: 85px;
}
#logo2{
    left: 5rem;
    top: 32px;
}
#bh{
    text-align: center;
    position: relative;
    top: 30px;
    font-size: 40px;
}
#banho{
    width: 49%;
    position: relative;
    left: 30rem;
    top: 30px;  
}
#ts{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 40px;
}
#tosa{
    width: 50%;
    position: relative;
    left: 30rem;
    top: 40px;
}
#vt{
    text-align: center;
    position: relative;
    top: 50px;
    font-size: 40px;
}
#Veterinario{
    width: 50%;
    position: relative;
    left: 30rem;
    top: 50px;
}
#ser{
    text-align: center;
    position: relative;
    top: 75px;
    font-size: 40px;
}
table{
    position: relative;
    left: 28rem;
    top: 70px;
    width: 40%;
    height: 300px;
    border: 2px solid;
    border-color: black;
}
th,td{  
    background-color: #BBBBBB;
    border: 1px solid;
    border-radius: 5px;
    font-size: 30px;
    
}

